@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');


.Roboto-light{
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}
.App {
  padding-top: 10%;
  /* background-color: #eae0c8; */
    height: '100vh';
    padding-bottom: 100%;
}

body {
    /* background-color: #eae0c8; */
    margin: 0px;
    padding: 0px;
    height: '100vh';
}

li {
  list-style: none;
}


.card {
  padding-top: 4px;
  padding-bottom: 4px;
  /* background-color: cadetblue; */
}

.row {
  /* display:flex;
  flex-wrap: wrap; */
}

.card-title {
  padding-top: 8px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #2F4F4F;
  /* border-bottom: 1px solid black; */
}

.card-body {
  font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 14px;
    padding-top: 2px;
    color: #2F4F4F;
}

.header {
    font-family: 'Roboto',
    sans-serif;
    font-size: 28px;
    padding-bottom:20px;
    color: #2F4F4F;
}

.nav {
  background-color: white;
  font-family: 'Roboto', sans-serif;
}

.navbar-nav .nav-link a {
  font-size: 14px;
      color: #2F4F4F;
}

a {
  font-size: 14px;
  color: #2F4F4F;
}

a:hover {
  font-size: 14px;
  color: #2F4F4F;
}